main {
    display: flex;
    flex-direction: column;
    background-color: rgb(224, 224, 224);
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    width: fit-content;

    mat-checkbox {
        margin: 5px 0;
    }
}