<article>
  <header>
    <b> {{ index }}. </b> {{ data.text }}
  </header>
  <footer>
    <button 
      *ngFor="let option of data.options; index as i"
      class="{{ 
        completed 
          ? ( option.selected 
            ? ( option.correct 
              ? 'correct'
              : 'incorrect'
            )
            : ''
          )
          : ( option.selected ? 'selected' : '' )
      }}"
      (click)="select(option)"
    >
      <mat-icon> {{ option.correct ? "check" : "close" }} </mat-icon>
      <div> {{ indexToLetter(i) }} </div>
      <label> {{ option.text }} </label>
    </button>
  </footer>
  <section *ngIf="completed">
    <b>Explicação:</b><br><br>
    {{ data.explanation }}
  </section>
</article>